@media screen and (min-width: 801px) and (max-width:1330px) {
    .menu-item{
        flex-direction: column;
        font-size: 10px;
        align-content: center;
        padding: 10px 0;
    }

    .side-bar{
        width: 60px;
    }

    .menu-item .icon{
        margin: 0;
    }

    .widget{
        padding: 0;
        border: none;
    }

    .ghost{
        display: none;
    }

    .widget:first-child{
        padding-top: 10px;
    }
}


@media screen and (max-width: 800px) {
    .side-bar{
        display: none;
    }
}